//컬러 정의

//밝은색
$light-background-color: #f1f1f1;
$light-text-color: #ffffff;
//어두운색
$dark-background-color: #333333;
$dark-text-color: #000000;
$dark-background-color2: #292c32;

//메인&서브 컬러
$subColor: rgb(213, 159, 159);
$subColor2: rgb(250, 190, 77);
$grayTextColor: #eee3e3;
$light-shadow-color: rgb(228, 223, 223);
$dark-shadow-color: #2f2f30;
